@import "../base/index";

.borderColorLight {
  background-color: @label-required-color;
}

.borderColorDark {
  background-color: @legend-color;
}

.colHeight {
  height: @grid-columns;
  padding: 10px;
}
