@import "../base/index";

.borderColorLight {
  background-color: @label-required-color;
}

.borderColorDark {
  background-color: @legend-color;
}

.colHeight {
  height: @grid-columns;
  padding: 10px;
}

.mask {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 0px auto;
  padding-top: 170px;
  text-align: center;
  opacity: 1;
  z-index: 99999;
}

.paddingWraper {
  padding: 5px 10px;
}

.filterSelect {
  width: 120px
}
