@import "../base/index";

@header-height: 80px;

@import "header";
@import "footer";
@import "not-found";

.mx-mask-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}
.mx-mask {
  background-color: @body-background;
  width: 80%;
}
