body {
  font-family: Arial, 'Hiragino Sans GB', '微软雅黑', '黑体-简', Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #666;
  background-color: #F2F4F7;
  -webkit-transition: background 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: background 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  overflow: hidden;
  scroll-behavior: smooth;
  min-width: 800px;
}

.header {
  background: #383E42;
  line-height: 50px;
  height: 50px;
  width: 100%;
}

.sider {
  background: #333745;
}

.content {
  position: absolute;
  width: 100%;
  top: 50px;
  bottom: 0;
  background-color: #ECECEC;
  z-index: 100;
}

.topbar-btn {
  display: block;
  height: 50px;
  color: #FFF;
  line-height: 50px;
  text-align: center;
}

.topbar-btn:hover {
  display: block;
  height: 50px;
  color: #FFF;
  line-height: 50px;
  text-align: center;
  background: #2B2F33;
}

.topbar-logo {
  width: 60px;
  font-size: 24px;
  border-right: thin solid #2B2F33;
}

.topbar-home {
  width: 139px;
  font-size: 14px;
  border-right: thin solid #2B2F33;
}

.topbar-userinfo {
  width: 140px;
  font-size: 14px;
  border-left: thin solid #2B2F33;
}

.topbar-left {
  float: left;
}

.topbar-right {
  float: right;
}

.container {
  height: 100%;
  background: #FFF;
  margin: 0 16px;
  overflow-x: visible;
  overflow-y: visible;
}
