@import "../base/index";

.content {
  padding: 2rem;
  text-align: center;
  color: @info-color;
}

.appContent {
  position: relative;
  padding-left: 20px;
  padding-top: 20px;
  padding-right: 20px;
  width: 100%;
  background-color: @body-background;
  border-radius: 5px;
}

.appBody {
  padding-left: 3.5rem;
  padding-right: 3.5rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: @body-color;
  min-height: 50rem;
}


.titleContainer {
  background-color: #fff;
  text-align: center;
  width: 100%;
  z-index: 1000;
  line-height: 5rem;
  .mx-menu {
    outline: none;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
    z-index: 1050;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
    color: #666;
    background: #fff;
    line-height: 5rem;
  }
}

.title_color {
  color: @primary-color;
}

.titleIcon {
  // color: @primary-color;
  font-size: 30px;
}

.appFooter {
  background-color: @body-background;
  padding-top: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  h2 {
    font-size: 14px;
    margin: 0 auto 8px;
    font-weight: 500
  }
  div {
    font-size: 12px;
  }
}

.appFooterCol {
  text-align: center;
  h2 {
    font-size: 12px;
    margin: 0 auto 8px;
    font-weight: 400
  }
}

.appLoadBar {
  color: @info-color;
  background-color: @info-color;
  height: 2px;
  position: absolute;
  z-index: 999999;
}
