@import "../base/index";

.switchContainer {
  margin-left: 1rem;
  &:hover {
    cursor: pointer;
  }
  // position: relative;
  // margin-bottom: -0.5rem;
  // background-color: @body-background;
  // z-index: 20;
  // display: inline;
  .iconFont {
    color: @info-color
  }
}


.collapseTTTT-active {
  transition: height 4s ease-out;
}


.switchContainerBody {
  background: red;
  width: 100px;
  height: 100px;
}
