@import "../base/index";

.layoutContainerBody {
  padding-left: 2rem;
  padding-top: 1rem;
  border-left: 1px solid @border-color-split;

  h1 {
    color: #404040;
    font-weight: 500;
    line-height: 40px;
    margin-bottom: 24px;
    margin-top: 8px;
  }
  h2 {
    color: #404040;
    margin: 1.6em 0 .6em;
    font-weight: 500;
    clear: both;
  }

  .layoutContainerBodyInner {
    min-height: 30rem;
  }

  .layoutContainerFooter {
    border-top: 1px solid @border-color-split;
    padding: 1rem;
    .leftMenu {
      text-align: left;
    }
    .rightMenu {
      text-align: right;
    }
  }

}

.layoutContainerHeader {
  border-bottom: 1px solid @border-color-split;
  padding: 0.5rem;
  background-color: @body-background;
}

.layoutToolsDefault {
  position: fixed;
  top: 5.5rem;
  transition: right 0.5s ease-out;
  border-radius: @btn-border-radius-base;
  color: @info-color;
  background-color: @body-background;
}

.layoutToolsOut {
  right: 0.5rem;
}

.layoutToolsIn {
  right: -6.5rem;
}

.layoutToolsArrow {
  color: @info-color;
  position: fixed;
  right: 0rem;
  top: 5rem;
  font-size: 28px;

  &:hover {
    cursor: pointer;
  }
}
