@import "../base/index";

.listview {
  padding-bottom: 1rem;
}

.topButton {
  margin: 1rem;
}

.marginBottom {
  margin-bottom: 1rem;
}

.inlineToolbar {
  display: flex;
}

.inlineButton {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  white-space: nowrap;
}

.inlineButton_error {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  color: @error-color
}

.filter {
  margin: 1rem;
  display: inline-block;

  .select {
    margin-left: 0.5rem;
    width: 10rem;
  }

  .input {
    margin-left: 0.5rem;
    width: 10rem;
  }
}

.filterContainer {
  padding-bottom: 0.5rem;
}

.toolbar {
  display: flex;
  justify-content: space-between;
}

.switchContainer {
  margin-left: 1rem;
  &:hover {
    cursor: pointer;
  }
  // position: relative;
  // margin-bottom: -0.5rem;
  // background-color: @body-background;
  // z-index: 20;
  // display: inline;
  .iconFont {
    color: @info-color
  }
}

