@import "../base/index";

.listview {
  padding-bottom: 1rem;
}

.topButton {
  margin: 1rem;
}

.marginBottom {
  margin-bottom: 1rem;
}

.inlineToolbar {
  display: flex;
}

.inlineButton {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  white-space: nowrap;
}

.inlineButton_error {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  color: @error-color
}

.filter {
  margin: 1rem;
  display: inline-block;

  .select {
    margin-left: 0.5rem;
    width: 10rem;
  }

  .input {
    margin-left: 0.5rem;
    width: 10rem;
  }
}

.filterContainer {
  padding-bottom: 0.5rem;
}

.toolbar {
  display: flex;
  justify-content: space-between;
}

.switchContainer {
  margin-left: 1rem;
  &:hover {
    cursor: pointer;
  }
  // position: relative;
  // margin-bottom: -0.5rem;
  // background-color: @body-background;
  // z-index: 20;
  // display: inline;
  .iconFont {
    color: @info-color
  }
}

//.switchContainerBody {
//  overflow: hidden;
//  height: 10rem;
//  transition: height 2s;
//  &:active {
//    height: 1rem;
//  }
//}
//
//.switchContainerBodyClose {
//  //animation: containerClose 1s;
//  //animation-timing-function: ease;
//  display: none;
//  overflow: hidden;
//  transition:height 2s;
//  height: 0rem;
//}
//
//.switchContainerBodyOpen {
//  // animation: containerOpen 1s;
//  // animation-timing-function: ease;
//  transition:height 2s;
//  display: block;
//  overflow: hidden;
//}
//
//@keyframes containerOpen
//{
//  from {height: 0rem}
//  to {}
//}
//
//
//@keyframes containerClose
//{
//  from {height: 10rem}
//  to {height: 0rem}
//}

