@import "../base/index";

.modalContainer {
  padding: 2rem;
  max-height: 40rem;
  min-height: 40rem;
  overflow: scroll;
}

.closeBar {
  text-align: right;
  .closeFlag {
    padding: 0.5rem;
    color: @text-color;
    font-size: 22px;
  }
}

.modalWrapper {
  display: block !important;
  margin-left: 5rem;
}
