
@search-prefix-cls: ~"@{mx-prefix}-search";

.@{search-prefix-cls} {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex: 1;

  &-input-wrapper {
    align-items: center;
    display: flex;
    flex: 1;

    .@{search-prefix-cls}-input-title {
      //width: 80px;
      white-space: nowrap;
      padding-right: 15px;
      font-size: 12px;
    }

    .@{search-prefix-cls}-input {
      flex: 1;
      border-radius: 0px;
    }

    .@{mx-prefix}-input-wrapper {
      flex: 1;
      //width: 300px;
    }

    .@{search-prefix-cls}-range-input {
      display: flex;
      //width: 300px;
      flex: 1;

      &-connector {
        margin-left: 10px;
        margin-right: 10px;
      }
    }

    .@{mx-prefix}-calendar-picker {
      //display: flex;
      //width: 300px;
      //flex: 1;
    }

    .search-input-col {
      padding: 0.5rem;
      span {
        border-radius: 0px;
      }
    }
    .search-input-col-label {
      text-align: right;
    }
  }

  &-input-btn {
    border-radius: 1px;
    &:hover {
      border-color: #d9d9d9;
    }
  }

  &-basic {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    // margin-bottom: 15px;

    &-switch {
      //margin-bottom: 15px;
      margin-left: 15px;
    }
  }

  &-advanced {
    width: 100%;
    display: flex;
    flex-direction: column;

    .@{search-prefix-cls}-input-wrapper {
      margin-bottom: 15px;
    }

    &-button {
      width: 100px;
      align-self: flex-end;
    }
  }

  &-advanced-button-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1.5rem;
  }

  &-advanced-button {
    // margin-left: 5px;
    background-color: #40a5ed;
    border: 0px;
    color: #fff;
    &:hover {
      background-color: #40a5ed;
      color: #fff;
    }
  }

  &-advanced-button-cancel {
    margin-left: 5px;
    background-color: #DADADA;
    border: 0px;
    &:hover {
      background-color: #DADADA;
      color: #666;
    }
  }

  &-advanced-button-clear {
    margin-left: 5px;
    background-color: #F89024;
    border: 0px;
    color: #fff;
    &:hover {
      background-color: #F89024;
      color: #fff;
    }
  }

  &-advanced-search-form {
    padding: 0.5rem;
    background-color: #fff;
  }

  &-close-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    .advanced-button-close {
      color: #40a5ed;
      background-color: #fff;
      margin-top: 1px;
      padding: 2px 6px 2px 6px;
    }
  }
}